.subscribepg{
    align-items: center;
    height: 100vh;
    .subleft{
        width: 20%;
        display: flex;
        align-items: center;
        border-right: 2px double white;
        height: 100vh;
        background-color: #ffa500;
        padding-left: 3%;
        // padding-top: 10%;
        #back{
            position: absolute;
            top: 4%;
        }
        #back:hover{
            color: gray;
        }

        .content{
            position: relative;
        }
        h1{
            position: absolute;
            padding: 3% 27%;
            letter-spacing: 10px;
            background-color: white;
            background: linear-gradient(90deg, var(--bs-primary), white);
            font-weight: 700;
            font-size: 3rem;
            top: -50%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            #subarrow{
                font-weight: 700;
                font-size: 3rem;
                margin-left: 25px;
            }
        }
        ul{
            list-style: none;
            text-align: right;
            

            li{
                margin: 13% 0;
                font-size: 1.5rem;
                :hover{
                    color: blue;
                    border-bottom: 2px dotted blue;
                }
            }
        
        }
    }

    .subright{
        align-self: flex-end;
        width: 80%;
        padding: 0 20%;
        overflow-y: scroll;
        .rightinner{
            width: 100%;
            height: 85vh;
            text-align: center;

            .parts{
                padding-bottom: 5%;
                .title{
                    padding-bottom: 5%;
                }
            }
            form{
                padding: 4%;
                font-size: 1rem;
                .df{
                    align-items: flex-start;
                }

                h2{
                    // font-weight: 300;
                    font-size: 1.2rem;
                }

                span{
                    color: red;
                }
                // input, select
                textarea, input{
                    border: none;
                    padding: 5px;
                    box-shadow: 1px 1px 0 2px var(--bs-primary);
                    resize: none;
                    margin: 1% 0;
                    font-size: 1rem;
                    width: 90%;
                    
                }
                textarea, input:focus{
                    outline: none;
                }
                .msgdiv{
                    width: 100%;

                    textarea{
                        width: 100%;
                        height: 70px;
                    }
                }
                .left{
                    margin-bottom: 5%;
                }

                .check{
                    text-align: left;
                    .verified{
                        color: green;
                        display: none;
                    }
    
                    .wrong{
                        color: red;
                    }
                }
            }

            a{
                padding: 1% 5%;
            }
        }
    }
}

#subscribe{
    padding: 5% 10% 10%;

    .total{
        padding: 10% 0;

        .left{
            text-align: left;
        }

        .right{
            h1{
                span{
                    font-size: 1rem;
                }
            }
        }
    }
}

.line{
    width: 10%;
    border-bottom: 3px solid var(--bs-primary);
    margin: 3% auto 0;
}