.cred{
    background-color: white;
    box-shadow: 3px 3px orange;
    padding: 3%;
    width: 100%;
    margin: 3%;

    .details{
        width: 90%;
        p{
            font-size: 1rem;
            padding: 10% 0 15%;
            word-wrap: normal;
        }
        .credbtn{
            padding: 2% 10%;
        }
    }
}

@media only screen and ( max-width: 1000px ){
    .cred{
        padding: 3% 3% 6%;
    }
}
@media only screen and ( max-width: 900px ){
    .cred{
        padding: 3%;
    }
}
