.footer{
    background-color: white;
    padding: 5% 9% 3%;

    .foot{
        align-items: start;

        .linkdivs{
            width: 50%;
            .innerlinkdivs{
                width: max-content;
                margin: auto;
            }
        }
        h3{
            font-size: 1.2rem;
            font-weight: 600;

            
        }
        ul{
            list-style: none;

            a, li{
                color: gray;
                font-size: 1rem;
                margin: 5% 0;
                border-bottom: 2px solid transparent;
                transition: 0.6s ease-in-out;

                :hover{
                    color: blue;
                    border-bottom: 2px dotted blue;
                    
                }
            }
        }

       
    }
    .fline{
        border-bottom: 1px solid #e0e0e0;
        margin: 3% 0;
    }
    p{
        font-size: 1rem;
    }
    .totop{
        position: fixed;
        right: 5%;
        bottom: 5%;
        background: orange;
        color: #fff ;
        padding: 0.5%;
        border-radius: 50%;
        font-size: 1.5rem;
        z-index: 1000;
        display: none;
    }

    .totopd{
        display: block;
    }
}