.testimony{
    background-color: white;
    padding: 5%;
    margin: 2%;
    border-radius: 10px;
    text-align: center;
    .profile{
        border: 2px solid orange;
        margin: auto;
    }
    p{
        padding: 2%;
    }
}
#o{
    background-color: orange;
    color:rgb(63, 63, 63);

    .profile{
        border: 2px solid white;
    }
}