.bardets{
    
    margin-top: -5;
    text-align: center;
    strong{
        font-size: 1.2rem;
        font-weight: 700;
    }
    span{
        font-size: .8rem;
        font-weight: 600;
        color: gray;
    }
}