.paytab{
    padding: 10%;
    background-color: #f0f0f0 ;
    width: max-content;
    margin: auto;
    margin-bottom: 10px;
    .top{
        width: max-content;
        text-align: center;
        margin: auto;

        .purple{
            background-color: #7554CF;
        }
        .blue{
            background-color: #4C87F3;
        }


        h4{
            width: fit-content;
            color: rgb(0, 0, 0);
            margin: auto;
            border-radius: 48px;
            font-size: 2rem;
            font-weight: bold;
        }

        h2{
            font-weight: 700;
        }
        p{
            font-size: 0.8rem;
            padding: 5%;
            background-color: white;
            border-radius: 50px;
            font-weight: 600;
            width: max-content;
            margin: auto;


            span{
                color: gray;
                font-size: 0.7rem;
            }
        }

        
    }
    .linepay{
        border-bottom: 2px solid #e0e0e0;
        margin-top: 10%;
    }
    .check{
        padding: 5% 0;
        text-align: left;
        color: black;
        width: max-content;

        .checkp{
            display: flex;
            align-items: center;
            font-size: 1rem;
            margin: 5% 0;

            svg{
                font-size: 1rem;
                color: rgb(255, 123, 0);
            }
        } 
    }
    
    .check{
        .checknot{
            color: gray;
            
            svg{
                color: gray;
            }
        } 
    }
    .amount{
        button{
            background-color: black;
            padding: 5% 12%;
            color: white;
            border-radius: 50px;
            width: max-content;
            font-weight: 600;
            font-size: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;

            #naira{
                font-size: 0.7rem;
                color: black;
                padding: 2%;
                background-color: rgb(255, 123, 0);
                border-radius: 50px;
                margin-right: 2%;
            }

            span{
                color: gray;
                font-size: 0.7rem;
                
            }
        }
        .subpay{
            width: 100%;
            display: block;
            padding: 5%;
            border-radius: 50px;
            border: 3px solid #e0e0e0;
            color: blue;
            font-weight: 600;
            font-size: 1rem;
        }
        .subpay:hover{
            background-color: blue;
            color: white;
            border: 3px solid blue;
        }
    }
}

#purplepay{
    background-color:orange;
    .check{
        .checkp{
            svg{
                color: black;
            }
        }
    }
    .check{
        .checknot{
            
            svg{
                color: gray;
            }
        } 
    }
    .amount{
        button{
            background-color: white;
            color: #000000;
        }
        .subpay{
            background-color: blue;
            color: white;
            border: 3px solid blue;
        }
        .subpay:hover{
            background-color: transparent;
            color: blue($color: #000000);
            border: 3px solid #e0e0e0;
        }
    }
    
}