.testimonial{
    // display: flex;
    // justify-content: center;
    // height: 100vh;
    padding: 10% 15%;
    background: linear-gradient(#ffffff28, #ffffff28), url('../../pics/nasa.jpg') fixed;
    text-align: center;

    h1{
        font-size: 2.5rem;
        margin-bottom: 5%;
        color: white;
    }
}
