$primary:red;
$info:purple;
$light:#f2f2f2;
// $font-family-sans-serif: "Poppins","Source Sans Pro",sans-serif;
$border-radius: 18px;
@import "../../node_modules/@fontsource/poppins/300.css";
@import "../../node_modules/@fontsource/poppins/400.css";
@import "../../node_modules/@fontsource/poppins/700.css";
@import "../../node_modules/@fontsource/poppins/900.css";